* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  border: 2px solid gray;
  width: 30%;
  margin: 30rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  box-shadow: 0 10px 6px -6px #777;
  border-radius: 50px;
}
.timer {
  border: 1px solid gray;
  background-color: gray;
  margin-top: 5rem;
  padding: 2rem;
  font-size: 60px;
  border-radius: 200px;
}
.controls {
  margin-bottom: 5rem;
}
.controls button {
  padding: 0.5rem;
  background-color: gray;
  border: 0;
  border-radius: 200px;
}
